/**
Setup defaults
 */
:root {
    --blue: #007bff;
    --red: #dc3545;
    --dark_green: #1e8410;
    --green:#26a514;
    --light_blue:#00bce2;
    --white:#ffffff;
    --breakpoint-sm: 576px /* var(--breakpoint-sm) */;
    --breakpoint-md: 768px /* var(--breakpoint-md) */;
    --breakpoint-lg: 992px /* var(--breakpoint-lg) */;
    --breakpoint-xl: 1200px /* var(--breakpoint-xl) */;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/* Dit zorgt ervoor dat de rest van de nav niet zichtbaar is.
/* Alleen nadat je Engels als taal kiest wordt het zichtbaar.
 */
/*[data-translate] {*/
/*    visibility: hidden;*/
/*}*/

/*[data-translate][translated] {*/
/*    visibility: visible;*/
/*}*/

.error {
    width: 60%;
    border: 1px solid var(--red);
    color: var(--red);
}

.btn {
    margin: 0;
    padding: 10px 90px;
    position: relative;
    top: 50px;
    border-radius: 5px;
    background: var(--light_blue);
    border: 1px var(--light_blue);
    color: #fff;
}

.btn_edit{
    float: right;
    width: 10%;
    border-radius: 5px;
    align-content: center;
    padding: 1% 2%;
    background: var(--light_blue);
    border: 1px var(--light_blue);
    color: #fff;
}
.bg-red {
    background: var(--red);
    border: 1px var(--red);
}

html, * {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #484848;
    cursor: default;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
}

/* ---------------------------- */
/* ----------[ HERO ]---------- */
/* ---------------------------- */
.hero {
    padding-bottom: 175px;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
}

.hero__title {
    padding-top: 135px;
    color: #ffffff;
}

.hero__slogan {
    margin: 15px 20px 100px 20px;
    color: #DCDBDB;
}

.hero__button {
    font-size: 25px;
    padding: 25px 45px;
    background-color: #C4C4C4;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .hero__slogan {
        margin: 15px 50px 100px 50px;
    }
}


/* ------------------------------- */
/* ----------[ WRAPPER ]---------- */
/* ------------------------------- */
.wrapper {
    width: 100%;
    margin-top: -40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #ffffff;
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .wrapper {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}

/* --------------------------- */
/* ----------[ NAV ]---------- */
/* --------------------------- */
.topnav {
    overflow: hidden;
    padding: 15px 50px 75px 50px;
}

.topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav__title {
    float: left;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
}

.topnav__item {
    float: right;
    font-size: 20px;
}

.topnav__item:hover {
    text-decoration: underline;
}

.topnav a.active {
    font-weight: bold;
    text-decoration: underline;
}

.topnav .icon {
    width: 10%;
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav {
        padding: 0;
    }

    .topnav span {
        display: none;
    }

    .responsive span {
        display: flex;
        flex-direction: column-reverse;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: absolute;
        width: 100%;
        padding-bottom: 0;
        background-color: #E7E6E6;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a.active {
        display: none;
        background-color: #747474;
        color: white;
        font-weight: normal;
        text-decoration: none;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav__item {
        font-size: 17px;
        border-bottom: solid 1px black;
    }
    .topnav__item:last-of-type {
        border-top: solid 1px black;
    }

    .topnav__langSwitch {
        float: none;
    }
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .topnav {
        overflow: hidden;
        padding: 15px 25px 75px 25px;
    }
}

@media only screen and (min-width: 992px /* var(--breakpoint-lg) */) {
    .topnav__langSwitch {
        float: left;
    }
}

/* ---------------------------------- */
/* ----------[ FOUR STEPS ]---------- */
/* ---------------------------------- */
.fourSteps {
    padding: 50px 20px 0 20px;
}

.fourSteps__title {
    margin-bottom: 50px;
    font-weight: bold;
}

.fourSteps__steps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.stepContainer {
    margin-bottom: 50px;
}

.stepContainer__left {
    margin: auto;
}

.stepContainer__icon img {
    width: 150px;
    margin-bottom: 25px;
}

.stepContainer__title {
    margin-bottom: 15px;
    font-size: 20px;
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {

    .fourSteps {
        padding: 0 50px 15px 50px;
    }

    .fourSteps__steps {
        flex-direction: row;
        text-align: left;
    }

    .stepContainer__title {
        font-size: 25px;
    }

    .stepContainer__icon img {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px /* var(--breakpoint-md) */) {

    .fourSteps {
        padding: 0 100px 15px 100px;
    }

    .stepContainer {
        display: flex;
        height: 206px;
        margin-right: 50px;
    }

    .stepContainer__icon img {
        width: 200px;
    }

    .stepContainer__right {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
    }
}

@media only screen and (min-width: 992px /* var(--breakpoint-lg) */) {
    .stepContainer {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 1200px /* var(--breakpoint-xl) */) {
    .stepContainer:nth-of-type(2),.stepContainer:nth-of-type(4) {
        margin-right: 0;
    }

    .stepContainer__right {
        width: 300px;
    }
}

/* ---------------------------- */
/* ----------[ INFO ]---------- */
/* ---------------------------- */
.info {
    padding-bottom: 20px;
    background-color: #F0F0F0;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.infoContainer__image {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    background-image: url("../img/info.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.infoContainer__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.infoContainer__divider {
    position: relative;
}
.infoContainer__divider hr {
    width: 35%;
    display: inline-block;
    vertical-align: middle;
    margin: 25px 0;
    border: solid 2px #000000;
}
.infoContainer__divider:after {
    display: inline-block;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 9px;
    left: 30%;
    content: '';
    background-image: url("../img/icons/airplane-seperator.svg");
    background-size: 35px 35px;
    transform: rotate(90deg);
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .infoContainer__image {
        background-position: bottom;
    }
}

@media only screen and (min-width: 768px /* var(--breakpoint-md) */) {
    .infoContainer__image {
        height: 425px;
    }
}

@media only screen and (min-width: 1200px /* var(--breakpoint-xl) */) {
    .info {
        padding: 75px;
    }

    .infoContainer {
        flex-direction: row;
    }

    .infoContainer__image {
        width: 625px;
        margin-right: 50px;
        margin-bottom: 0;
        border-radius: 20px;
    }

    .infoContainer__right {
        width: 625px;
    }

    .infoContainer__right {
        margin: 0;
    }
}

/* ------------------------------ */
/* ----------[ FOOTER ]---------- */
/* ------------------------------ */
footer {
    height: 2%;
    width: 100%;
    left: 0;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.footer_content {
    background-color: #666;
}

.copyright_container {
    background: #666;
    width: 100%;
}

.copyright {
    text-align: center;
    color: #ffffff;
}

/* ----------------------------------- */
/* ----------[ BACK TO TOP ]---------- */
/* ----------------------------------- */
.back-to-top img {
    width: 25px;
    margin-top: 12px;
}

.back-to-top {
    position: fixed;
    display: inline;
    background-color: var(--green);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 1%;
    bottom: 1%;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top:hover {
    background-color: var(--dark_green);
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .back-to-top img {
        width: 32px;
        margin-top: 13px;
    }

    .back-to-top {
        width: 60px;
        height: 60px;
    }
}

/* ------------------------------ */
/* ----------[ LOADER ]---------- */
/* ------------------------------ */
.hr_plane {
    display: flex;
}

.hr-line {
    width: 60%;
    position: relative;
    margin: 15px;
    border-bottom: 3px solid #969696;;
}

.loading_plane {
    animation: hr_plane 4s infinite linear;
}

.hr-icon img {
    margin-left: -25px;
    transform: rotate(90deg);
    height: 45px;;
    margin-top: 2px;
    color: #969696;
}

@keyframes hr_plane {
    0% {
        width: 0%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 75%;
    }
    75% {
        width: 85%;
    }
    100% {
        width: 100%;
    }
}
