@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* --------------------------------------------------------------------------------------------- */

*{
    font-family: 'robotoregular';
}

h1 {
    font-family: 'robotobold' !important;
}

h2 {
    font-family: 'robotobold' !important;
}

.nav {
    margin: 2%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav ul li {
    float: right;
    font-size: 50px;
    margin-left: 35px;
    cursor: default;
}
.nav ul li:last-of-type {
    margin: 0;
}
.nav ul li a {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
}
.nav ul li a:hover {
    text-decoration: underline;
}
.nav ul .nav_title {
    float: left;
    margin: 0;
    font-size: 55px;
    font-weight: bold;
}

.nav ul .nav_item {
    margin-top: 15px;
    font-size: 30px;
}

.card {
    background-color: #484848;
    color: white;
    border-radius: 20px;
    left: 350px;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.grid-container .left {
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
}

.card .right {
    margin-left: 5%;
    display: inline-block;
}

.card .profile_name {
    font-family: 'robotobold' !important;
    font-size: x-large;
}

.card .profile_bio {
    margin-right: 40px;
}

.matching-container .card:hover {
    transform: scale(1.02);
}

.matching-container .align_image {
    margin-top: 3%;
    width: auto;
    line-height: 2.5em;
    height: 5em;
    border-radius: 10px; 
    margin-top: 5%; 
    margin-bottom: 0;
}

.main .align_left {
    display: inline-block;
    margin-left: 2%;
}


.grid-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 20px;
}

.matching-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 20px;
}

.matching-container .card #image {
    justify-content: center;
    display: flex;
}

.matching-container .card #info {
    justify-content: center;
    display: flex;
}

.matching-container .card #info p {
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}

.grid-container .card .bar {
    margin: 40%;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    cursor: default;
}

.grid-child {
    padding: 0;
    margin-top: 0;
}

#filter_card {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#profile_card {
    margin: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}