<div>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/chat.css"/>
    <div class="wrapper">
        <div class="center">
            <div class="contacts">
                <svg class="menu" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                <h2>
                    Contacts
                </h2>
            </div>
            <div class="chat">
                <div class="contact bar">
                    <div class="pic" id="profile_pic"></div>
                    <div class="name">
                        Tony Stark
                    </div>
<!--                    <div class="seen">-->
<!--                        Today at 12:56-->
<!--                    </div>-->
                </div>
                <div class="messages" id="chat">
                    <div class="time">
                        Today at 11:41
                    </div>

                </div>
                <div class="input typing-area">
                    <button>
                        <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                    </button>
                    <button>
                        <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path>
                        </svg>
                    </button>
                    <input class="input-field" placeholder="Type your message here!" type="text"/>
                    <button class="">
                        <svg class="send" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>