<div>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/chat.css"/>
    <div class="chat_wrapper">
        <section class="chat-area">
    <div class="chat-box" id="chat">
        <!-- <div class="chat outgoing">
            <div class="details">
                <p>Test</p>
            </div>
        </div>
        <div class="chat incoming">
            <div class="details">
                <p>response</p>
            </div>
        </div> -->
    </div>
        </section>
        <form action="#" class="typing-area">
            <input type="text" name="message" class="input-field" placeholder="Type a message here..." autocomplete="off">
            <button><svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"></path></svg></button>
        </form>
    </div>
</div>