<div>
    <div class="fourSteps">
        <h2 class="fourSteps__title" data-translate="fourSteps.title">De vier stappen van onze website</h2>
        <div class="fourSteps__steps">
            <div class="stepContainer">
                <div class="stepContainer__left">
                    <div class="stepContainer__icon">
                        <img src="assets/img/icons/1-signup.svg" alt="signup">
                    </div>
                </div>
                <div class="stepContainer__right">
                    <div class="stepContainer__title">1. Meld je aan!</div>
                    <div class="stepContainer__description">Ben je geïntereseerd geraakt? Meld je dan nu aan!</div>
                </div>
            </div>
            <div class="stepContainer">
                <div class="stepContainer__left">
                    <div class="stepContainer__icon">
                        <img src="assets/img/icons/2-match.svg" alt="match">
                    </div>
                </div>
                <div class="stepContainer__right">
                    <div class="stepContainer__title">2. Match met een andere gebruiker.</div>
                    <div class="stepContainer__description">Aan de hand van jouw interesses worden verschillende mensen aangeboden.</div>
                </div>
            </div>
            <div class="stepContainer">
                <div class="stepContainer__left">
                    <div class="stepContainer__icon">
                        <img src="assets/img/icons/3-contact.svg" alt="contact">
                    </div>
                </div>
                <div class="stepContainer__right">
                    <div class="stepContainer__title">3. Neem contact op met jouw match.</div>
                    <div class="stepContainer__description">Ben je benieuwd naar iemand? Neem dan contact op!</div>
                </div>
            </div>
            <div class="stepContainer">
                <div class="stepContainer__left">
                    <div class="stepContainer__icon">
                        <img src="assets/img/icons/4-travel.svg" alt="travel">
                    </div>
                </div>
                <div class="stepContainer__right">
                    <div class="stepContainer__title">4. Ga samen op reis.</div>
                    <div class="stepContainer__description">Ga samen met je match de wereld rond!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="infoContainer">
            <div class="infoContainer__image">
            </div>
            <div class="infoContainer__right">
                <h2 class="infoContainer__title">Waarom CommonFlight?</h2>
                <div class="separator"><hr/></div>
                <div class="infoContainer__description">
                    <p>
                        Tegenwoordig zijn er veel mensen die eenzaam zijn, soms wordt jouw leven je iets te veel en ben je uit voor een vakantie.
                        Wat veel mensen weerhoudt van een vakantie is dat ze niemand hebben om mee te reizen en wij hebben dit opgelost in de form
                        van een webapplicatie.
                    </p>
                    <br>
                    <p>
                        <b>CommonFlight</b> laat mensen die niemand hebben om mee te reizen andere vinden die dezelfde interesses hebben,
                        of naar hetzelfde land willen reizen contact maken en samen op reis gaan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
