<div>
    <link rel="stylesheet" href="assets/css/pages/login.css">
    <div class="wrapper__auth">
        <div class="login">
            <div class="login__top">
                <h1 class="login__title">Login</h1>
                <p class="login__description" data-translate="login.desc">Vul de gegevens onderaan in om door te
                    gaan.</p>
                <div class="errorWrapper"></div>
            </div>
            <form class="login__form">
                <input type="email" name="Email" id="email" class="login__input" placeholder="Email" autofocus>
                <input type="password" name="wachtwoord" id="pass" class="login__input" placeholder="Wachtwoord">
            </form>
            <div class="login__button">
                <button type="button" class="login__button" id="login_button">
                    <span class="button__text" data-translate="register.has_account_link">Inloggen</span>
                    <img src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
                </button>
            </div>
            <div>
                <a href="#/wachtwoord/vergeten" class="wv">Wachtwoord Vergeten?</a>
                <span data-translate="login.no_account">Heb je geen account?</span>
                <a href="#/registratie" class="login__signup" data-translate="login.no_account_link">Registreer
                    hier</a>
            </div>
        </div>
    </div>

</div>
