<div class="profile__wrapper">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/profiel.css"/>
    <h2 class="profile__title"><span data-translate="matchRequest.from">Match aanvraag van</span>- <span
            class="profile_name" id="from_user"></span></h2>
    <div class="profile__container">
        <div class="profile__button">
            <button type="button" class="profile__button" id="edit_btn">
                <span class="button__text" data-translate="matchRequest.accept">Accepteer</span>
                <img src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
            </button>
            <button class="profile__button" style="background: var(--red)">
                <span class="button__text" style="background: var(--red)"
                      data-translate="matchRequest.deny">Weiger</span>
                <img src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
            </button>
        </div>
    </div>
</div>