<div>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/matching.css"/>
    <div class="match__wrapper">
        <div class="match__top">
            <h2 class="match__title">Matching</h2>
            <p class="match__description">Vind hier de match waar jij mee op reis kan gaan!</p>
        </div>
        <div class="match__body">
            <div class="match__settings">
                <div class="match__filter">
                    <h2 class="filter__title">Filter</h2>
                    <div class="filter__container">
                        <div class="filter__item match__intrest">
                            <p class="match__label" data-translate="match.data.filter.intresses">Intresses:</p>
                            <div id="intrest_selector_1"></div>
                        </div>
                        <div class="filter__item match__country">
                            <label for="countrie_selector" class="match__label" data-translate="match.data.filter.countryTo">Land om naar te reizen:</label>
                            <div id="countrie_selector"></div>
                        </div>
                        <div class="filter__item">
                            <p class="match__label">Geslacht:</p>
                            <select name="genders" id="genders">
                                <option value="male" data-translate="match.data.filter.gender.data.male">Man</option>
                                <option value="female" data-translate="match.data.filter.gender.data.female">Vrouw</option>
                                <option value="other" data-translate="match.data.filter.gender.data.other">Overig</option>
                                <option value="none" data-translate="match.data.filter.gender.data.none">Geen voorkeur</option>
                            </select>
                        </div>
                        <div class="filter__item match__country">
                            <p class="match__label" data-translate="match.data.filter.countryOrigin">Land van herkomst</p>
                            <div id="countrie_selector_2"></div>
                        </div>
                    </div>
                </div>
                <div class="userCard">
                    <h2 class="userCard__title">Jouw Gegevens</h2>
                    <div class="userCard__container">
                        <div class="userCard__item">
                            <p class="match__label">Naam</p>
                            <p class="userCard__data" id="matching_profile_name"></p>
                        </div>
                        <div class="userCard__item">
                            <p class="match__label">Leeftijd</p>
                            <p class="userCard__data" id="matching_profile_age"></p>
                        </div>
                        <div class="userCard__item">
                            <p class="match__label">Land van herkomst</p>
                            <p class="userCard__data" id="matching_profile_origin"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="users" id="card-container"></div>
        </div>
    </div>
</div>
