<div class="box">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/wachtwoord_vergeten.css"/>
    <div class="header" id="titel">
        <h2 data-translate="nieuw_wachtwoord.titel">Kies een nieuw wachtwoord</h2>
    </div>
    <hr>
    <h4 data-translate="nieuw_wachtwoord.subtekst">Stel hier een nieuw wachtwoord in.</h4>
    <div id="error"></div>
    <form class="email">
        <input type="wachtwoord" name="wachtwoord" id="wachtwoord" placeholder="Nieuw wachtwoord" autofocus>
    </form>
    <hr>
    <div class="buttons">
        <a href="#/home">
            <button class="annuleren" data-translate="nieuw_wachtwoord.buttonL">Annuleren</button>
        </a>
        <button class="zoeken" id="wijzigen" data-translate="nieuw_wachtwoord.buttonR">Wijzigen</button>
    </div>
</div>