<div class="box">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/wachtwoord_vergeten.css"/>
    <div class="header" id="titel">
        <h2>Kies een nieuw wachtwoord </h2>
    </div>
    <hr>
    <h4>Stel hier een nieuw wachtwoord in.</h4>
    <div id="error"></div>
    <form class="email">
        <input type="wachtwoord" name="wachtwoord" id="wachtwoord" placeholder="Nieuw wachtwoord" autofocus>
    </form>
    <hr>
    <div class="buttons">
        <a href="../index.html">
            <button class="annuleren">Annuleren</button>
        </a>
        <button class="zoeken" id="wijzigen">Wijzigen</button>
    </div>
</div>