<div class="profile__wrapper">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/profiel.css"/>
    <h2 class="profile__title">Profiel - <span class="profile_name" id="form_current_name"></span></h2>
    <div class="profile__container">
        <div class="profile__left">
            <img class="profile__image" id="avatar" alt="Profile Picture">
            <div class="profile__info">
                <label for="profiel_age" class="profile__label">Geboortedatum</label>
                <p id="profiel_age" class="profile__item"></p>
                <label for="profiel_gender" class="profile__label">Geslacht</label>
                <p id="profiel_gender" class="profile__item"></p>
                <label for="profiel_country" class="profile__label">Geboorteland</label>
                <p id="profiel_country" class="profile__item"></p>
                <label for="intrest__country" class="profile__label">Geïnteresseerde land(en)</label>
                <p id="intrest__country" class="profile__item">Japan, United States</p>
                <label for="intrest__hobbies" class="profile__label">Interesses</label>
                <p id="intrest__hobbies" class="profile__item">Programming, Fitness, Sneakers</p>
            </div>
            <div class="profile__button">
                <button type="button" class="profile__button" id="edit_btn">
                    <span class="button__text">Verander profiel</span>
                    <img src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
                </button>
                <button class="profile__button" id="contact_btn">
                    <span class="button__text">Contact gebruiker</span>
                    <img src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
                </button>
            </div>
        </div>
        <div class="profile__right">
            <label for="profile__bio" class="profile__label">Beschrijving</label>
            <p class="profile__bio" id="profile__bio">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.</p> <!-- Bio -->
        </div>
    </div>
</div>
