<div class="card">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/pages/profiel.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/pages/verify.css"/>
    <div class="grid-container">
        <h2 class="align_left">Verify</h2>
        <form onsubmit="onSubmit(event)" class="content-area">
            <h4 data-translate="verify.header">Verify Login Code</h4>
            <p data-translate="verify.explain">
                It looks like you're trying to login from a new device.
                As an added security mesure, please enter the 6-character code sent to your email.
            </p>
            <p><a href='#'>Need help?</a></p>

        </form>
    </div>
</div>
