<div class="box">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/pages/wachtwoord_vergeten.css"/>
    <div class="header">
        <h2>Je account zoeken </h2>
    </div>
    <hr>
    <h4>Voer je e-mailadres in om je account te zoeken.</h4>
    <form class="email">
        <input type="email" name="E-mailadres" id="email" placeholder="E-mailadres" autofocus>
    </form>
    <hr>
    <div class="buttons">
        <a href="../index.html">
            <button class="annuleren">Annuleren</button>
        </a>
        <button class="zoeken" id="vergelijken">Zoeken</button>
    </div>
</div>