<div class="box">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/pages/wachtwoord_vergeten.css"/>
    <div class="header" id="titel">
        <h2 data-translate="wachtwoord_vergeten.titel">Je account zoeken </h2>
    </div>
    <hr>
    <h4 data-translate="wachtwoord_vergeten.subtekst">Voer je e-mailadres in om je account te zoeken.</h4>
    <div id="error"></div>
    <form class="email">
        <input type="email" name="E-mailadres" id="email" placeholder="E-mailadres" autofocus>
    </form>
    <hr>
    <div class="buttons">
        <a href="#/home">
            <button class="annuleren" data-translate="wachtwoord_vergeten.buttonL">Annuleren</button>
        </a>
        <button class="zoeken" id="vergelijken" data-translate="wachtwoord_vergeten.buttonR">Zoeken</button>
    </div>
</div>