<footer>
    <a href="#/chat" class="chatBtn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
        </svg>
    </a>
    <div class="footer__wrapper">
        <h2 class="footer__title">CommonFlight</h2>
        <div class="separator"><hr/></div>
        <div class="footer__content">
            <a id="faq" class="footer__item" href="#/faq">F.A.Q</a>
        </div>
        <div class="footer__corendon">
            <a href="https://www.corendon.nl/">
                <img src="assets/img/corendon-logo.svg" alt="Corendon logo">
            </a>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright <span class="year"></span></p>
    </div>
</footer>