<footer>
    <div class="footer__wrapper">
        <h2 class="footer__title">CommonFlight</h2>
        <div class="separator"><hr/></div>
        <div class="footer__content">
            <a id="faq" class="footer__item" href="#/faq">F.A.Q</a>
        </div>
        <div class="footer__corendon">
            <a href="https://www.corendon.nl/">
                <img src="assets/img/corendon-logo.svg" alt="Corendon logo">
            </a>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright <span class="year"></span></p>
    </div>
</footer>