<div>
    <div class="hero">
        <h1 class="hero__title">CommonFlight</h1>
        <h3 class="hero__slogan" data-translate="home.slogan">Match op CommonFlight om met Corendon wereldwijd te
            reizen!</h3>
        <div class="hero__button">
            <a href="#/registratie">
                <span class="button__text" data-translate="home.hero">Meld je aan!</span><img
                    src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div id="nav"></div>
    </div>
    <div id="app"></div>
    <div id="footer"></div>
</div>
