<div>
    <div id="add_header">
        <title>CommonFlight | Home</title>
        <link rel="icon" type="image/x-icon" href="./favicon.png">

        <!-- link(s) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </div>
    <div id="add_body">
        <div class="hero">
            <h1 class="hero__title">CommonFlight</h1>
            <h3 class="hero__slogan" data-translate="home.slogan">Match op CommonFlight om met Corendon wereldwijd te reizen!</h3>
            <div class="hero__button">
                <a href="views/registratie.html">
                    <span class="button__text" data-translate="home.hero">Meld je aan!</span><img src="assets/img/icons/right-arrow.svg" class="button__icon" alt="right-arrow button icon">
                </a>
            </div>
        </div>
        <div class="wrapper" id="app">
            <div id="nav"></div>
        </div>
        <div id="footer"></div>
        <a href="#" class="back-to-top"><img src="assets/img/icons/airplane-icon.svg"/></a>
    </div>
</div>
