.chatbox {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1200px /* var(--breakpoint-xl) */) {
    .chatbox {
        flex-direction: row;
    }
}

/* --------------------------------- */
/* ----------[ CONTACTEN ]---------- */
/* --------------------------------- */
.chatbox__contacts {
    background-color: var(--light_grey);
}

.contacts__title {
    font-weight: bold;
    color: var(--red);
    margin: 20px 20px 10px 20px;
}

.contacts__users {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}

.contact:last-of-type {
    margin-right: 0;
}

.contact a {
    color: var(--grey);
    text-decoration: none;
}

.contact .pic, .contactInfo__image {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    background-color: var(--light_grey);
    color: var(--grey);
}

.contact a:hover {
    color: var(--red);
    font-weight: bold;
}
.contact a:hover .pic {
    width: 149px;
    height: 149px;
    border: solid 1px var(--red);
}

.contact__info {
    margin-top: 10px;
}

.activeChat {
    color: var(--red);
    font-weight: bold;
}

.activeChat .pic {
    width: 149px;
    height: 149px;
    border: solid 1px var(--red);
}

@media only screen and (min-width: 1200px /* var(--breakpoint-xl) */) {
    .chatbox__contacts {
        flex: 1 0 0;
        border-right: 1px solid var(--grey);
    }

    .contacts__users {
        flex-direction: column;
        overflow-x: unset;
        overflow-y: scroll;
    }

    .activeChat, .contact a {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--grey);
    }

    .activeChat, .contact a {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .contact__info {
        margin: auto auto auto 15px;
    }
}

/* ------------------------------------ */
/* ----------[ CONTACT INFO ]---------- */
/* ------------------------------------ */

.chat__contactInfo {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: var(--red);
}

.contactInfo__image {
    margin-right: 15px;
}

.contactInfo__fields {
    margin: auto;
}

.contactInfo__name {
    font-weight: bold;
    color: var(--white);
}

.contactInfo__last {
    color: var(--light_grey);
}

@media only screen and (min-width: 1200px /* var(--breakpoint-xl) */) {
    .chatbox__chat {
        flex: 2 0 0;
    }
}

/* ------------------------------------- */
/* ----------[ CHAT MESSAGES ]---------- */
/* ------------------------------------- */
.chat__messages {
    height: 500px;
    padding: 20px;
    overflow-y: auto;
}

.chat__messages .message {
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.chat__messages .stark {
    background-color: var(--light_grey);
}

.chat__messages .stark + .stark {
    margin-top: 5px;
}

.chat__messages .parker {
    margin: 15px 0 auto auto;
    background-color: var(--grey);
    color: var(--white);
}
.chat__messages .parker + .parker {
    margin-top: 5px;
}

.chat__messages .parker + .stark {
    margin-top: 15px;
}

.chat__messages .parker:last-of-type {
    border-bottom-right-radius: 0;
}

.message__time {
    align-self: end;
    margin-left: 10px;
    font-size: 12px;
}

.chat__messages .parker .message__time {
    color: var(--light_grey);
}

.chat__messages .stark .message__time {
    color: var(--grey);
}

@media only screen and (min-width: 1200px /* var(--breakpoint-xl) */) {
    .chat__messages {
        height: auto;
    }
}

/* ---------------------------------- */
/* ----------[ CHAT INPUT ]---------- */
/* ---------------------------------- */
.chat__input {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.chat__input button {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.input__emoji, .input__imgUpload, .input__send {
    align-items: center;
    border: 0;
}

.input__imgUpload {
    border-left: 1px solid var(--grey);
}

.input__emoji:hover, .input__imgUpload:hover {
    background-color: var(--grey);
}

.input__emoji:hover svg, .input__imgUpload:hover svg {
    color: var(--white);
}

.input__typingArea {
    flex: 2 0 0;
    padding: 5px;
    font-size: 15px;
    border: 0;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.input__typingArea:focus {
    outline: none;
}

.button__svg {
    width: 55%;
    height: auto;
}

.input__send {
    background-color: var(--green);
}

.input__send:hover {
    background-color: var(--dark_green);
}

.input__send svg {
    transform: rotate(90deg);
    color: var(--white);
}
