body {
    height: 100vh;
    background-image: url("../../img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper__login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 35px;
    background-color: var(--white);
}

.login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.login__top {
    margin-bottom: 50px;
}

.login__title {
    color: var(--red);
    margin-bottom: 10px;
}

.login__description {
    color: var(--grey);
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.login__input {
    margin-bottom: 25px;
    font-size: 20px;
    color: var(--grey);
    border: none;
    border-bottom: solid 2px var(--grey);
}

.login__input:focus {
    color: var(--dark_red);
    border: none;
    border-bottom: solid 2px var(--dark_red);
}

.login__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.login__button button {
    text-decoration: none;
    background-color: var(--dark_green);
    border-radius: 5px;
    transition: background-color .5s;
    cursor: pointer;
}

.login__button button:hover {
    background-color: var(--green);
}
.login__button button:hover > .button__text {
    background-color: var(--dark_green);
}

.button__text {
    background-color: var(--green);
    font-size: 25px;
    color: var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button__icon {
    width: 19px;
    margin-left: 10px;
}

.login__signup {
    color: var(--red);
    text-decoration: none;
}

.login__signup:hover {
    color: var(--dark_red);
    text-decoration: underline;
}

#footer {
    display: none;
}
