#nav .topnav {
    padding-bottom: 0;
}

@media screen and (max-width: 600px) {
    #nav .responsive {
        border-radius: 0;
    }
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    #nav .topnav a {
        padding: 14px 10px;
    }

    #nav .topnav__item {
        margin-top: 10px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px /* var(--breakpoint-lg) */) {
    #nav .topnav a {
        padding: 14px 16px;
    }

    #nav .topnav__item {
        margin-top: 5px;
        font-size: 20px;
    }
}

/* ------------------------------- */
/* ----------[ PROFILE ]---------- */
/* ------------------------------- */

.profile__wrapper {
    padding: 50px 20px 0 20px;
}

.profile__title {
    color: var(--red);
}

.profile__container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.profile__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 25px;
    border: solid 2px var(--red);
    border-radius: 5px;
}

.profile__info {
    margin-bottom: 25px;
}

.profile__label {
    color: var(--red);
    font-size: 18px;
    font-weight: bold;
}

.profile__item {
    margin: 0 0 15px 5px;
}

.profile__item:last-of-type {
    margin-bottom: 0;
}

.profile__button {
    width: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    margin-bottom: 15px;
}

.profile__button button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    background-color: var(--dark_green);
    border-radius: 5px;
    transition: background-color .5s;
    cursor: pointer;
}

.profile__button button:hover {
    background-color: var(--green);
}
.profile__button button:hover > .button__text {
    background-color: var(--dark_green);
}

.button__text {
    width: 78%;
    background-color: var(--green);
    font-size: 25px;
    color: var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button__icon {
    width: 19px;
    margin: auto;
}

.profile__right {
    margin-bottom: 50px;
}

.profile__bio {
    margin: 0 0 15px 5px;
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .profile__wrapper {
        padding: 75px 50px 15px 50px;
    }

    .profile__button {
        width: 80%;
    }
}

@media only screen and (min-width: 768px /* var(--breakpoint-md) */) {
    .profile__wrapper {
        padding: 75px 100px 15px 100px;
    }
}

@media only screen and (min-width: 992px /* var(--breakpoint-lg) */) {
    .profile__container {
        flex-direction: row;
    }

    .profile__left, .profile__right {
        width: 625px;
    }

    .profile__button {
        width: 90%;
    }

    .profile__right {
        margin-bottom: 0;
    }
}

/* ------------------------------------ */
/* ----------[ EDIT PROFILE ]---------- */
/* ------------------------------------ */
.profile__edit .profile__image {
    margin-bottom: 5px;
}

.profile__edit .edit__item {
    margin-bottom: 15px;
}

.profile__edit .edit__item:last-of-type {
    margin-bottom: 0;
}

.profile__edit .edit__input {
    font-size: 20px;
    color: var(--grey);
    border: none;
    border-bottom: solid 2px var(--grey);
    outline: none;
}

.profile__edit .edit__input:focus {
    color: var(--dark_red);
    border: none;
    border-bottom: solid 2px var(--dark_red);
    outline: none;
}

.profile__edit .edit__gender {
    background-color: var(--white);
}

.profile__edit .edit__country label {
    margin-right: 10px;
    font-size: 20px;
    color: var(--grey);
}

.profile__edit .edit__country #countries {
    margin-bottom: 25px;
    background-color: var(--white);
    font-size: 20px;
    color: var(--grey);
    border: none;
    border-bottom: solid 2px var(--grey);
    outline: none;
}
.profile__edit .edit__country #countries:focus {
    color: var(--dark_red);
    border: none;
    border-bottom: solid 2px var(--dark_red);
    outline: none;
}
