#nav .topnav {
    padding-bottom: 0;
}

@media screen and (max-width: 600px) {
    #nav .responsive {
        border-radius: 0;
    }
}

.wrapper__auth {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.registration {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.registration__top {
    margin-bottom: 25px;
}

.registration__title {
    color: var(--red);
    margin-bottom: 10px;
}

.registration__description {
    margin-bottom: 25px;
    color: var(--grey);
}

.registration__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.registration__input {
    margin-bottom: 25px;
    font-size: 20px;
    color: var(--grey);
    border: none;
    border-bottom: solid 2px var(--grey);
}

.registration__input:focus {
    color: var(--dark_red);
    border: none;
    border-bottom: solid 2px var(--dark_red);
}

.registration__gender {
    background-color: var(--white);
}

.registration__country label {
    margin-right: 10px;
    font-size: 20px;
    color: var(--grey);
}

.registration__country #countries {
    margin-bottom: 25px;
    background-color: var(--white);
    font-size: 20px;
    color: var(--grey);
    border: none;
    border-bottom: solid 2px var(--grey);
}
.registration__country #countries:focus {
    color: var(--dark_red);
    border: none;
    border-bottom: solid 2px var(--dark_red);
}

.registration__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    margin-bottom: 15px;
}

.registration__button button {
    text-decoration: none;
    background-color: var(--dark_green);
    border-radius: 5px;
    transition: background-color .5s;
    cursor: pointer;
}

.registration__button button:hover {
    background-color: var(--green);
}
.registration__button button:hover > .button__text {
    background-color: var(--dark_green);
}

.button__text {
    width: 77%;
    background-color: var(--green);
    font-size: 25px;
    color: var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button__icon {
    width: 19px;
    margin-left: 15px;
}

.registration__signup {
    color: var(--red);
    text-decoration: none;
}

.registration__login:hover {
    color: var(--dark_red);
    text-decoration: underline;
}

@media only screen and (min-width: 576px /* var(--breakpoint-sm) */) {
    .wrapper__auth {
        padding: 150px 0;
    }

    .button__text {
        width: 74%;
    }

    #nav .topnav a {
        padding: 14px 10px;
    }

    #nav .topnav__item {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px /* var(--breakpoint-md) */) {
    .wrapper__auth {
        padding: 0;
    }
}

@media only screen and (min-width: 992px /* var(--breakpoint-lg) */) {
    #nav .topnav a {
        padding: 14px 16px;
    }
}
