body {
    height: 90vh;
    background-image: url("../../img/register.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.regi {
    bottom: 40px;
    position: relative;
    left: 470px;
    width: 600px;
    text-align: center;
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 80%);
    border-radius: 40px;
    background-color: #ffffff;
    color: var(--red);
}

header h1,p {
    margin: 0;
    text-align: center;
}

header p {
    margin: 0;
}

form {
    position: relative;
    left: 110px;
    text-align: left;

}

form label{
    margin-right: 50px;
}

input {
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    margin-right: 80px;
}

input[type = radio]{
    margin: 0 15px;
}
select{
    position: relative;
    right: 27px;
    border-radius: 10px;
    margin: 0 40px;
}

#aanmelden {
    color: white;
    margin: 0;
    padding: 10px 90px;
    position: relative;
    top: 25px;
    border-radius: 5px;
    background-color: var(--dark_green);
}
#aanmelden:hover {
    background-color: var(--green);
}
#voornaam input{
    width:125px;
}

#achternaam input{
    width:125px;
}
#tekstachternaam{
    padding: 10px;
    width: 60%;
    margin-left:105px;
}

#inloggen {
    color: white;
    margin: 0;
    padding: 10px 100px;
    position: relative;
    top: 75px;
    border-radius: 5px;
    background-color: var(--red);

}
#inloggen:hover{
    background-color: var(--dark_red);
}

.WV {
    position: relative;
    top: 35px;
}


hr {
    background-color: black;
    position: relative;
    top: 70px;
}

#home{
    margin: 0;
    padding: 10px 100px;
    position: relative;
    border-radius: 5px;
}
#home:hover{
    background-color: var(--dark_red);
}
.copyright{
    position: relative;
    left: 23px;
}
footer{
    text-align: center;
    position: relative;
    top:104px;
}
